<!DOCTYPE html>
<html lang="en" ng-app="vstda">
<head>
  <meta charset="UTF-8">
  <title>Very Simple Todo App</title>
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.css" />
<!-- endbower -->

<!-- inject:css -->

<link rel="stylesheet" href="css/style.css">

<!-- endinject -->
</head>
<body ng-controller="vstdaController as ctrl">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-sm-offset-1">
				<form class="well">
					<div class="form-group">
						<label>Add Todo Item</label>
					</div>
					<div class="form-group">
						<label>Text</label>
						<input type="text" ng-model="ctrl.todoItem.description" class="form-control">
					</div>
					<div class="form-group">
						<label>Priority</label>
						<select ng-model="ctrl.todoItem.priority" class="form-control">
							<option value="high">High Priority</option>
							<option value="medium">Medium Priority</option>
							<option value="low">Low Priority</option>
						</select>
					</div>
					<button class="btn btn-primary" 
						ng-click="ctrl.addTodo()">Add Todo</button>
				</form>
			</div>

			<div class="col-xs-12 col-sm-8">
				<div class="row">
					<div class="col-sm-offset-1">
						<button class="btn btn-primary btn-xs"
										ng-click="propertyOrder = 'order'; reverse = false;">
										Order by highest priority</button>
						<button class="btn btn-primary btn-xs"
										ng-click="propertyOrder = 'order'; reverse = true;">
										Order by lowest priority</button>
						<button class="btn btn-primary btn-xs"
										ng-click="propertyOrder = 'description'; reverse = !reverse;">
										Order alphabetically</button>
						<button class="btn btn-warning btn-xs"
										ng-click="propertyOrder = null; reverse = false;">
										Unsort</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<ul data-as-sortable="board.dragControlListeners" data-ng-model="ctrl.todoList">
							<li data-ng-repeat="item in ctrl.todoList | orderBy:propertyOrder:reverse"
								  ng-class="{high: item.priority === 'high',
											medium: item.priority === 'medium',
											low: item.priority === 'low'}"
								  data-as-sortable-item>
								<div data-as-sortable-item-handle>
									<button class="btn btn-danger btn-xs"
												ng-click="ctrl.deleteItem($index)">Remove item</button>
												{{item.description}}
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/ng-sortable/dist/ng-sortable.js"></script>
<!-- endbower -->
<!-- inject:js -->

<script src="js/vstda.js"></script>

<script src="js/vstdaController.js"></script>

<script src="js/vstdaFactory.js"></script>

<!-- endinject -->
</body>
</html>